<div class="d-grid gap-3">
    <h1 class="display-5 text-center">How to capture your moments...</h1>
    <dl class="row mx-auto" style="width: 60vw;">
        <dt class="col-sm-3">Dear Diary</dt>
        <dd class="col-sm-9">Is a simple diary app in which you can express what you feel in the moment</dd>

        <dt class="col-sm-3">Moment</dt>
        <dd class="col-sm-9">
            <p>A 30 character limit Name</p>
            <p>With a 280 character limit Body.</p>
        </dd>

        <dt class="col-sm-3">Creating a Moment</dt>
        <dd class="col-sm-9">You can start now by clicking the button below or by going to the home page to create a New Moment</dd>

        <dt class="col-sm-3">Updating the moment</dt>
        <dd class="col-sm-9">You can view your special moment, then edit them when you are in the mood or delete them whenever the moment is over.</dd>
    </dl>
    <%= link_to 'New moment', articles_new_path, class:"btn btn-success mx-auto", style:"width: 150px;" %>
</div>